body {
  margin: 0;
  font-family: 'Poppins', sans-serif;

   background-image: url("bgi3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Glass card effect */
.hero {
  text-align: center;
  max-width: 700px;
  padding: 50px 40px;
  border-radius: 25px;

  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(15px);

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.hero:hover {
  transform: translateY(-5px);
}

.hero-image {
  width: 100%;
  max-width: 450px;
  border-radius: 25px;
  margin-bottom: 30px;

  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transition: 0.4s ease;
}

.hero-image:hover {
  transform: scale(1.03);
}

/* Heading Styling */
h1 {
  font-size: 52px;
  font-weight: 600;
  color: #2c3e50;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

/* Sub text styling */
p {
  font-size: 18px;
  color: #7a7f87;
  margin-bottom: 35px;
  line-height: 1.6;
}

/* Custom Stylish Button */
.cta-btn {
  display: inline-block;
  text-decoration: none;

  background: linear-gradient(135deg, #e67e5f, #f4a88a);
  color: white;

  padding: 16px 38px;
  font-size: 18px;
  font-weight: 500;

  border-radius: 50px;
  border: none;

  box-shadow: 0 12px 25px rgba(230, 126, 95, 0.35);
  cursor: pointer;

  transition: all 0.3s ease;
}

/* Hover Animation */
.cta-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 18px 35px rgba(230, 126, 95, 0.5);
}

/* Click effect */
.cta-btn:active {
  transform: scale(0.96);
}

/* Arrow spacing */
.cta-btn span {
  margin-left: 8px;
  transition: margin-left 0.3s ease;
}

.cta-btn:hover span {
  margin-left: 14px;
}

/* Responsive */
@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }

  .hero {
    padding: 35px 20px;
  }

  .hero-image {
    max-width: 300px;
  }
}

